*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

body{
    font-family: montserrat;
    /*#f2f2f2*/
}

/*Banner*/

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.6)),url(background.jpg);
    background-size: cover;
    background-position: center;
    animation: banner-image-animation linear forwards;
    animation-timeline: view();
    animation-range: exit;
}

/*Navbar*/

nav{
    height: 80px;
    width: 100%;
}

label img{
    height: 100px;
    width: auto;
    mix-blend-mode: color-burn;
    margin-left: 20px;
    
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a{
    color:white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a:hover{
    background: #815271;
    transition: 0.5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*Container content*/

.content_container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content_container h1{
    font-size: 70px;
    margin-top: 80px;
}

.content_container p{
    margin: 20px auto;
    font-size: 25px;
    font-weight: 100;
    line-height: 25px;
}

/*Button*/

.button-1 {
  align-items: center;
  background-clip: padding-box;
  background-color: initial;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  padding: 19px 26px;
  position: relative;
  text-align: center;
  width: auto;
}

.button-1:before,
.button-1:after {
    border-radius: 80px;
}

.button-1:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-1:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-1:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.button-1:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

/*Button design 2*/

.button-2{
    width: 150px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 800;
    border: 5px solid rgb(255, 116, 38);
    background: transparent;
    color: white;
    cursor: pointer;
    line-height: 24px;
    position: relative;
    overflow: hidden;
}

span{
    background: #c74b11;
    height: 100%;
    width: 0;
    border-radius: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s ease;
}

.button-2:hover span{
    width: 100%;
}

.button-2:hover{
    border: none;
}

/*Del 2 av webbsidan: class: info-cotainer-1*/

.info-container-1{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;   
}

.header-h2{
    text-align:center;
    font-size:45px;
    text-transform:uppercase;
    color:#222;
    letter-spacing:1px;
    font-family:"Playfair Display", serif;
    font-weight:400;
}


.info-container-1-description{
    max-width: 600px;
    font-size: 20px;
    margin: 1rem auto 1.5rem;
}

.services-container{
    display: flex;
    align-items: center;
}

.services h4{
    font-weight: 500;
    color: #121818;
    font-size: 1.3rem;
    margin: 1rem 0 0.6rem;
}

.services{
    background: #fff;
    margin: 20px;
    padding: 40px;
    border-radius: 4px;
    text-align: center;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #e7e7e7;
    transition: all 0.3s ease;
    border-radius: 15px;
}

.services:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.services i {
    font-size: 3.45rem;
    margin: 1rem 0;
}

.container1 i,
.container1 h4
{
  color: #42b7ca;
}

.container1:hover {
    border: 2px solid #42b7ca;
}

.container2 i,
.container2 h4
{
  color: #425fca;
}

.container2:hover {
    border: 2px solid #425fca;
}

.container3 i,
.container3 h4
{
  color: #9c42ca;
}

.container3:hover {
    border: 2px solid #9c42ca;
}

.services > * {
    flex: 1 1 100%;
}


/* Del tre av webbsidan: grid*/
.info-container-2-header h2{
    text-align: center;
    font-weight: 500;
    color: #121818;
    font-size: 3rem;
    margin: 1rem 0;
}

.info-container-2-header p{
    text-align: center;
    max-width: 600px;
    font-size: 20px;
    margin: 1rem auto;
    margin-bottom: -30px;
}

/*feature 1: This style could be used for all even elemements where the picture is on the left side*/

.info-container-2-1, .info-container-2-3{
    display: flex;
    justify-content: right;
    align-items: center;
}

.features1, .features3{
    margin: 60px auto;
    width: 70%;
}

.features1 img, .features3 img{
    max-height: 520px;
    border-radius: 5%;
    float: right;
    border: 3px solid goldenrod;
    margin-left: 30px;
}

.features1 i, .features3 i{
    font-size: 90px;
    color:rgb(159, 36, 36);
    border-radius: 10%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.features1-textbox h2, .features3-textbox h2{
    font-size: 42px;
    color: rgb(23, 23, 74);
    font-weight: 600;
    margin-bottom: 10px;
}

.features1-textbox p, .features3-textbox p{
    font-size:  18px;
    font-weight: 300;
    margin-bottom: 70px;
}

.features1-button, .features3-button{
    margin-top: -40px;
}

.features1-button button, .features3-button button{
    width: 140px;
    height: 45px;
    font-family:sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #5783db;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.features1-button button:hover, .features3-button button:hover{
    background-color: #ce8d23;
    box-shadow: 0px 15px 20px rgba(121, 149, 37, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.features1-button button a, .features3-button button a{
    color: black;
}

.features-hr{
    width: 70%;
    margin: auto;
}

/*feature 2: This style could be used for all even elemements where the picture is on the left side*/


.info-container-2-2{
    display: flex;
    justify-content: right;
    align-items: center;
}

.features2{
    margin: 60px auto;
    width: 70%;
}

.features2 img{
    max-height: 520px;
    border-radius: 5%;
    float: left;
    border: 3px solid goldenrod; /*same color or change it to another one?*/
    margin-right: 30px;
}

.features2 i{
    font-size: 90px;
    color:rgb(159, 36, 36); /*same color or change it to another one?*/
    border-radius: 10%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.features2-textbox h2{
    font-size: 42px;
    color: rgb(23, 23, 74);
    font-weight: 600;
    margin-bottom: 10px;
}

.features2-textbox p{
    font-size:  18px;
    font-weight: 300;
    margin-bottom: 70px;
}

.features2-button{
    margin-top: -40px;
}

.features2-button button{
    width: 140px;
    height: 45px;
    font-family:sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    background-color: #5783db;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.features2-button button:hover{
    background-color: #ce8d23;
    box-shadow: 0px 15px 20px rgba(121, 149, 37, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.features2-button button a{
    color: black;
}

/*Del 4 av webbsidan: split screen saffran*/

.info-container-3 .left, .info-container-3 .right{
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container-3 .image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    transition: 0.3s ease all;
}

.leftside{
    background: url("split_left_image.jpg");
}

.rightside{
    background: url("split_right_image_alt.jpg");
}

.info-container-3 .side::before{
    background: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    content: "";
    display: block;
}

.info-container-3 .caption{
    position: relative;
    z-index: 10;
    color: white;
    text-align: center;
}

.info-container-3 .caption h1{
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.caption1 h1{
    background-color: #333;
}

.caption2 h1{
    background-color: white;
    color: #333;
}

.info-container-3 .left:hover .image, .info-container-3 .right:hover .image{
    transform: scale(1.2);
}

/*Del 5 av webbsidan: plans and price*/

.info-container-4-header{
    margin-top: 35px;
}

.info-container-4-header p{
    margin-top: 10px;
    text-align: center;
    max-width: 600px;
    font-size: 20px;
    margin: 1rem auto;
    margin-bottom: -40px;
}

.price-row{
    margin-top: 9%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.price-col{
    background: #333;
    color: white;
    padding: 5% 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    transition: 0.3s ease all;
}

.price-col p{
    font-size: 22px;
    margin-bottom: 20px;

}

.price-col h3{
    font-size: 44px;
    font-weight: 500;
    color: white;
}

.price-col ul{
    text-align: left;
    margin: 20px 0;
    color: #ddd;
}

.price-col ul li{
    margin: 15px 0;
}

.price-col ul li::before{
    content: "\2022";
    color: #e33058;
    font-weight: bold;
    margin: 8px;
}

.price-col button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: white;
    font-size: 15px;
    border: 1px solid #e33058;
    border-radius: 40px;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.price-col button:hover{
    background: #e33058;
}

.box2{
    background-color: rgb(7, 49, 6);
    scale: 1.1;
}

.price-col:hover{
    transform: scale(1.1);
    z-index: 1;
}

/*.price-row:hover .price-col:not(:hover){
    opacity: 0; wierd design
}*/

/*Animations*/

.features1 img, .features2 img, .features3 img, .services{
    scale: 0.8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 400px; /*kan alternativt använda animation-range:entry;*/
}

.content_container{
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -300px;
}

@keyframes fade-in{
    to{
        scale: 1; opacity: 1;
    }
}

@keyframes fade-out{
    to{
        opacity: 0;
    }
}

@keyframes banner-image-animation{
    25%{
        opacity: 1;
    }

    85%, 100%{
        opacity: 0;
        /*scale can be added*/
    }
}

/*Responsive*/

@media screen and (min-width:1330px){
    /*filling images to reduce white spots*/
    .filling1-image{
        max-width: 200px;
        position: absolute;
        right: 0;
    }
    
    .filling2-image{
        max-width: 200px;
        position: absolute;
        transform: rotate(180deg);
        bottom: -30%;
        left: 0;
    }
    
    .filling3-image{
        max-width: 200px;
        position: absolute;
        transform: rotate(180deg);
        bottom: -1200px; /*väljer att sätta positionen på detta sätt för att undvika konflikt med img element i andra delar*/
    }
    
    .filling4-image{
        max-width: 200px;
        position: absolute;
        right: 0;
        bottom: -1450px;
    }    
}

@media screen and (max-width: 1330px){
    .filling1-image, .filling2-image, .filling3-image, .filling4-image{
        display: none;
    }
}

@media screen and (min-width:1200px){
    /*del 4*/
    .info-container-3{
        display: flex;
    }

    .info-container-3 .left, .info-container-3 .right{
        width: 50%;
        height: 100vh;
    }

    .price-col{
        width: 25%; /*could be changed to a higher value*/
    }

    .price-col h3{
        text-align: center;
    }

    .price-col p{
        text-align: center;
        font-weight: bold;
        margin-top: -40px;
    }

    .price-col ul li::before{
        margin-left: 28px;
    }

}


@media (max-width: 952px){
    label .logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }

    .price-row{
        display: flex;
        flex-direction: column;
    }

    .price-col{
        margin-left: auto;
        margin-right: auto;
    }

    .price-col ul{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .price-col {
        flex-basis: calc(50% - 20px);
    }

    /*fix issues regarding the screen size for div elements in section 3(features)*/

}

@media (max-width: 858px){

    /*Navbar*/
    .checkbtn{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1000;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav ul li a:hover{
        background: none;
        color: aquamarine;
    }

    #check:checked ~ul{
        left: 0;
    }

    .button-1 {
        padding: 19px 32px;
    }

    .services-container{
        display: flex;
        flex-direction: column;
    }

    /*banner and header*/

    .content_container h1{
        margin-left: 10%;
        margin-right: 10%;
    }

    .content_container p{
        margin-left: 10%;
        margin-right: 10%;
    }

    /*note: info-container-1 is already adapted*/

    /*info-container-2*/
    .info-container-2-header{
        margin-left: 10px;
        margin-right: 10px;
    }

    .features1 img, .features2 img, .features3 img{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .features1 i, .features2 i, .features3 i{
        display: none;
    }

    .features1-textbox h2, .features2-textbox h2, .features3-textbox h2{
        text-align: center;
    }

    .features1-button button,.features2-button button, .features3-button button{
        margin-left: 30%; /*how to center using percent*/
    }
    
    /*Plans and price*/

    .info-container-4-header p{
        margin-bottom: 40px;
    }

    .price-col p{
        text-align: center;
    }
}